*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lavender;
}

.flex{
    display: flex;
}

.header{
    background-color: blue;
    position: relative;
}

.header-left{
    padding: 10px;
}

.logo{
    margin: 0px 15px;
}

.msg{
    color: white;
    padding-top: 5px;
}

.header_right{
    position: absolute;
    right: 30px;
    padding:15px 10px 10px 10px;
    color: white;
}

.signup,.login{
    margin-right: 30px;
}

.signuplogo, .loginlogo{
    margin-right: 5px;
}

.signimg{
    width: 15px;
    padding-top: 1px;
}

.loginimg{
    width: 17px;
}

.main{
    width: 670px;
    margin: 150px 0px 0px 600px;
}

.form{
    align-items: center;
    justify-content: center;
    background-color: white;
}

.formSide{
    background-color: blue;
    padding: 250px 70px;
}

.form_login{
    padding: 0px 30px;
}

.logintext{
    padding: 30px;
    color: blue;
    font-size: 20px;
    text-align: center;
}

.text{
    padding: 15px;
    border-style: none none solid none;
    border-width: thin;
    margin-bottom: 40px;
    background-color: transparent;
    width: 410px;
}

.submit{
    margin-left: 75px;
    width: 300px;
    border-radius: 15px;
    background-color: transparent;
    border-color: blue;
    padding: 7px;
}

.link{
    justify-content: center;
}

#uname_error, #pswd_error{
    color: red;
    font-size: 11px;
    font-weight: bold;
    visibility: hidden;
}

